
html { width: 100%; height:100%;}

body {
	font-family: 'Open Sans', sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img1.jpg');
  /* background-image: url('img1.jpg'); */
  color: white;
}
.login  {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input {
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}
.header{
  margin-top: 20px;
}
.link a{
  background-color:#331a00;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.2em;
  position: relative;
  text-decoration: none;
}

a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
.selection{
  margin-top: 20px;
}

#selectedorder{
	background-color: ivory;
	border-radius: 20px;
	color: black;
	height: 110%;
	background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85) ), url('pizza_pattern.jpeg');
	background-size: auto;
	background-repeat: round;
}

#placedorders {
  overflow:hidden;
  transition:max-height 0.3s ease-out; // note that we're transitioning max-height, not height!
  height:auto;
  max-height:600px; // still have to hard-code a value!
}
#placedorders.collapsed {
  max-height:0;
}

.scrolltable {
  /* margin-top: 20px; */
  height: auto;
	max-height: 200px;
	border: groove;
  /* height: 350px; */
  overflow: auto;
}

.menulist{
	border: double;
	padding:10px;
	margin:10px;
	height:100%;
	width:100%;
}

hr.style1{
	background: white;
	border-top:2px double;
}
