{% extends "orders/layout.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}

<div class="container menulist" id="menupizza">
  <h2 class="menutitle">Pizzas</h2>
  {% for ptype in pizzatype %}
    <h4>{{ptype}}</h4>
    <table>
      <thead>
        <tr>
          <th>Topping Type</th>
          {% for psize in pizzasize %}
            <th>{{psize}}</th>
          {% endfor %}
        </tr>
    </thead>
    <tbody>
      {% for ttype in toppingtype %}
        <tr>
          <td>{{ttype}}</td>
            {% for psize in pizzasize %}

              {% for price in pizzarate %}
                {% if ptype == price.pizzatype and ttype == price.toppingtype and psize == price.pizzasize %}
                  <td>{{price.price}}</td>
                {% endif %}
              {% endfor %}

            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  {% endfor %}
</div>

<div class="container menulist" id="menusub">
  <h2 class="menutitle">Subs</h2>
  <table>
    <thead>
      <tr>
        <th>Subs Choice</th>
        {% for ssize in subsize %}
          <th>{{ssize}}</th>
        {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for schoice in subchoice %}
    <tr>
      <td>{{schoice}}</td>
      {% for ssize in subsize %}
        {% for price in subrate %}
          {% if schoice == price.subchoice and ssize == price.subsize %}
            <td>{{price.price}}</td>
            {% endif %}
          {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="container menulist" id="menupasta">
  <h2 class="menutitle">Pastas</h2>
  <table>
    <thead>
      <tr>
        <th>Pasta Choice</th>
          <th>Regular</th>
      </tr>
  </thead>
  <tbody>
    {% for pchoice in pastarate %}
    <tr>
      <td>{{pchoice.pastachoice}}</td>
      <td>{{pchoice.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div class="container menulist" id="menusalad">
  <h2 class="menutitle">Salads</h2>
  <table>
    <thead>
      <tr>
        <th>Salad Choice</th>
          <th>Regular</th>
      </tr>
  </thead>
  <tbody>
    {% for schoice in saladrate %}
    <tr>
      <td>{{schoice.saladchoice}}</td>
      <td>{{schoice.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div class="container menulist" id="menudinnerplatter">
  <h2 class="menutitle">Dinner Platters</h2>
  <table>
    <thead>
      <tr>
        <th>Dinner Platters Choice</th>
        {% for ssize in dinnerplattersize %}
          <th>{{ssize}}</th>
        {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for schoice in dinnerplatterchoice %}
    <tr>
      <td>{{schoice}}</td>
      {% for ssize in dinnerplattersize %}
        {% for price in dinnerplatterrate %}
          {% if schoice == price.dinnerplatterchoice and ssize == price.dinnerplattersize %}
            <td>{{price.price}}</td>
            {% endif %}
          {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>



<script>
  document.addEventListener('DOMContentLoaded', () => {
  });
</script>

{% endblock %}
