{% extends "orders/layout.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}

<div class="container">
  <div class=" menulist" id="menupizza">
    <h2 class="menutitle "><b>Pizzas</b></h2>

    <div class="row">
      {% for ptype in pizzatype %}</br>
      <div class="col">
        <h4>{{ptype}}</h4>
        <table>
          <thead>
            <tr>
              <th style="width:66%">Topping Type</th>
              {% for psize in pizzasize %}
                <th style="width:33%">{{psize}}</th>
              {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for ttype in toppingtype %}
            <tr>
              <td>{{ttype}}</td>
                {% for psize in pizzasize %}

                  {% for price in pizzarate %}
                    {% if ptype == price.pizzatype and ttype == price.toppingtype and psize == price.pizzasize %}
                      <td>{{price.price}}</td>
                    {% endif %}
                  {% endfor %}

                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
<hr>
<div class="row">
<div class="col menulist" id="menusub">
  <h2 class="menutitle"><b>Subs</b></h2>
  <table>
    <thead>
      <tr>
        <th style="width:66%">Subs Choice</th>
        {% for ssize in subsize %}
          <th style="width:33%">{{ssize}}</th>
        {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for schoice in subchoice %}
    <tr>
      <td>{{schoice}}</td>
      {% for ssize in subsize %}
        {% for price in subrate %}
          {% if schoice == price.subchoice and ssize == price.subsize %}
            <td>{{price.price}}</td>
            {% endif %}
          {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div class="col">
<div class="row">
<div class=" menulist" id="menupasta">
  <h2 class="menutitle"><b>Pastas</b></h2>
  <table>
    <thead>
      <tr>
        <th style="width:82%">Pasta Choice</th>
          <th style="width:33%">Regular</th>
      </tr>
  </thead>
  <tbody>
    {% for pchoice in pastarate %}
    <tr>
      <td>{{pchoice.pastachoice}}</td>
      <td>{{pchoice.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

<div class="row">
<div class=" menulist" id="menusalad">
  <h2 class="menutitle"><b>Salads</b></h2>
  <table>
    <thead>
      <tr>
        <th style="width:82%">Salad Choice</th>
          <th style="width:33%">Regular</th>
      </tr>
  </thead>
  <tbody>
    {% for schoice in saladrate %}
    <tr>
      <td>{{schoice.saladchoice}}</td>
      <td>{{schoice.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
<hr>

<div class="row">
<div class=" menulist" id="menudinnerplatter">
  <h2 class="menutitle"><b>Dinner Platters</b></h2>
  <table
    <thead>
      <tr>
        <th style="width:59%">Dinner Platters Choice</th>
        {% for ssize in dinnerplattersize %}
          <th style="width:33%">{{ssize}}</th>
        {% endfor %}
      </tr>
  </thead>
  <tbody>
    {% for schoice in dinnerplatterchoice %}
    <tr>
      <td>{{schoice}}</td>
      {% for ssize in dinnerplattersize %}
        {% for price in dinnerplatterrate %}
          {% if schoice == price.dinnerplatterchoice and ssize == price.dinnerplattersize %}
            <td>{{price.price}}</td>
            {% endif %}
          {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
  });
</script>

{% endblock %}
