{% extends "orders/layout.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}
  {% if message %}
  <div class="text-right">
    {{ message }}
  </div>
  {% endif %}
  <!-- <div class="form-group">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input class="form-control" name="username" type="text" placeholder="User Name" autofocus/>
      <input class="form-control" name="password" type="password" placeholder="Password"/>
      <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
  </div> -->
<div class="container">
  <div class="login">
  	<h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
    	<input type="text" name="username" placeholder="Username" required="required" autofocus/>
      <input type="password" name="password" placeholder="Password" required="required" />
      <!-- <button type="submit" class="btn btn-primary btn-block btn-large" value="Login">Login</button> -->
      <div class="form-group" style="text-align:center">
        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
      </div>
    </form>
      <p style="text-align:center"><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a></p>
  </div>
</div>
{% endblock %}
