{% extends "orders/layout.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}
<h3>{{last_orders.total_cost}}</h3>

<div class="container">
  <div id="placedorders">
    <ul>
      {% for order in last_orders.order_list %}
      <li data-menutype="{{order.menutype}}" data-pk="{{order.pk}}" data-todo="delete">
        {% if order.menutype == "pizza" %}
          {{order.pizzachoice}}
          <ul>
              {% for toppingchoice in order.toppingchoice.all %}
                <li>{{toppingchoice}}</li>
              {% empty %}
              {% endfor %}
          </ul>
        {% elif order.menutype == "sub" %}
          {{order.subchoice}}
          <ul>
            {% for s in order.subextrachoice.all %}
              <li>{{s}}</li>
            {% endfor %}
          </ul>
        {% elif order.menutype == "pasta" %}
          {{order.pastachoice}}
        {% elif order.menutype == "salad" %}
          {{order.saladchoice}}
        {% elif order.menutype == "dinnerplatter" %}
          {{order.dinnerplatterchoice}}
        {% endif %}
        <button type="button" class="btn btn-primary delete_order">delete</button>
      </li>
        {% empty %}
        <li>No previous orders in cart</li>
      {% endfor %}
    </ul>
  </div>
  <a href="{% url 'show_order' %}">Place Order</button>
</div>

<div class="container">
  <div>
    <a class="menubtn" id="pizza" href="#">Pizza</a>
    <a class="menubtn" id="sub" href="#">Subs</a>
    <a class="menubtn" id="pasta" href="#">Pasta</a>
    <a class="menubtn" id="salad" href="#">Salad</a>
    <a class="menubtn" id="dinnerplatter" href="#">Dinner Platter</a>
  </div>
</div>

<div class="container" id="dpizza">
</div>
<div class="container" id="dsub">
</div>
<div class="container" id="dpasta">
</div>
<div class="container" id="dsalad">
</div>
<div class="container" id="ddinnerplatter">
</div>




<!-- handlebars -->
{% verbatim %}
<script id="select_template" type="text/x-handlebars-template">
  <div id="d{{vartype}}" class="form-group div_order" data-menutype="{{menutype}}">
    <label for="s{{vartype}}">{{vartype}}</label>
    <select id="s{{vartype}}" class="form-control select_order" name="{{vartype}}" data-menutype="{{menutype}}">
      <option value="" selected disabled>Select {{vartype}}</option>
      {{#each varlist}}
        <option value="{{@key}}" name="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</script>
<script id="span_template" type="text/x-handlebars-template">
  <span id="span_{{vartype}}" class="cspan" data-price=""></span>
</script>
<script id="input_template" type="text/x-handlebars-template">
  <div class="form-group">
    <input type="number" id="q_{{menutype}}" class="quantity" min="1" max="25" value="1" pattern="[0-9]" step="1" oninput="validity.valid||(value='');"/>
  </div>
</script>
<script id="addbtn_template" type="text/x-handlebars-template">
  <div class="form-group">
    <button type="button" class="btn btn-primary make_order" id="btn_{{menutype}}" data-menutype="{{menutype}}" data-pk="" data-quantity="" data-others="" data-todo="add">Add to Cart</button>
  </div>
</script>

{% endverbatim %}
<!-- handlebars -->

<script>
  document.addEventListener('DOMContentLoaded', () => {

  // csrf token
  const csrftoken = getCookie('csrftoken')

  // handlebars templates
  select_template = Handlebars.compile(document.querySelector('#select_template').innerHTML);
  span_template = Handlebars.compile(document.querySelector('#span_template').innerHTML);
  input_template = Handlebars.compile(document.querySelector('#input_template').innerHTML);
  addbtn_template = Handlebars.compile(document.querySelector('#addbtn_template').innerHTML);


  // delete previous orders
  const delete_order = document.querySelectorAll('.delete_order')
  delete_order.forEach(button => {
    button.onclick = () => {
    // send pk and menutype
      const request = new XMLHttpRequest();
      request.open("POST", "change_order");
      request.setRequestHeader("X-CSRFToken", csrftoken);
      request.onload = () => {
        console.log(request.responseText);
	location.reload();
      };
      const data = new FormData();
      data.append('menutype',button.parentElement.dataset.menutype);
      data.append('pk',button.parentElement.dataset.pk);
      data.append('todo',button.parentElement.dataset.todo);
      request.send(data);
    };
    });

    ////////////////////////////////////////////

    ////////////////////////////////////////////
    // menu anchors
    document.querySelectorAll('.menubtn').forEach(anchor => {
      const anchor_div = document.querySelector('#d' + anchor.id);
      anchor_div.style.display = "none";
      anchor.onclick = () => {

        menutype = anchor.id;

        if(anchor.id === "pizza"){
          menurate = {{pizzarate|safe}}
          menuobj_dict = {
            "pizzatype" : {{pizzatype|safe}},
            "pizzasize" : {{pizzasize|safe}},
            "toppingtype" : {{toppingtype|safe}},
            "toppingchoice" : {{toppingchoice|safe}}
          }
        } else if(anchor.id === "pasta"){
          menurate = {{pastarate|safe}}
          menuobj_dict = {
            "pastachoice" : {{pastarate|safe}}
          }
        } else if(anchor.id === "salad"){
          menurate = {{saladrate|safe}}
          menuobj_dict = {
            "saladchoice" : {{saladrate|safe}}
          }
        } else if(anchor.id === "dinnerplatter"){
          menurate = {{dinnerplatterrate|safe}}
          menuobj_dict = {
            "dinnerplatterchoice" : {{dinnerplatterchoice|safe}},
            "dinnerplattersize" : {{dinnerplattersize|safe}}
          }
        } else if(anchor.id === "sub"){
          menurate = {{subrate|safe}}
          menuobj_dict = {
            "subchoice" : {{subchoice|safe}},
            "subsize" : {{subsize|safe}},
            "subextrachoice" : {{subextrachoice|safe}}
          }
        }

        // create elements
        create_menu_functions(menutype, menurate, menuobj_dict);

        // reset options
        document.querySelectorAll('.select_order[data-menutype=' + anchor.id + ']').forEach(event => {
          select_reset(event);
        });

        // reseting span
        document.querySelectorAll('.cspan').forEach(event => {
          event.innerHTML = "";
        })

        // specific
        if(anchor.id == "pizza"){
          document.querySelector('#stoppingchoice').selectedIndex = 0;
          document.querySelector('#stoppingchoice').parentElement.style.display = "none";

        }

        // removing divs
        document.querySelectorAll('.menubtn').forEach(item => {
          document.querySelector('#d' + item.id).style.display = "none";
        })
        anchor_div.style.display = "block";
      }
    });
  /////////////////////////////////////


  });

  // add to cart
  function add_cart(button){
    const request = new XMLHttpRequest();
    const csrftoken = getCookie('csrftoken');

    request.open('POST', "change_order");
    request.setRequestHeader("X-CSRFToken", csrftoken);
    request.onload = () => {
      console.log(request.responseText);
      location.reload();
    }
    const data = new FormData();
    data.append('menutype', button.dataset.menutype);
    data.append('pk', button.dataset.pk);
    data.append('quantity', button.dataset.quantity);
    data.append('others', button.dataset.others);
    data.append('todo', button.dataset.todo);

    request.send(data);

  }

  // select reset
  function select_reset(object){
    object.selectedIndex = 0
  }

  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // function menu
  function create_menu_functions(menutype, menurate, menuobj_dict){
    init_state = false;
// parse
  // menutype = pizza
  // menurate = pizzarate
  // menuobj_dict = {"pizzatype" : pizzatype, "pizzasize" : pizzasize, "toppingtype" : toppingtype, "toppingchoice" : toppingchoice }
//

  // menutype section
  const dmenutype = document.querySelector('#d' + menutype);
  dmenutype.innerHTML = "";
  // menurate
  // menucategories
  menuobj_list = Object.keys(menuobj_dict);
  menuobj_list.forEach(index => {
    var varlist = {};
    menuobj = menuobj_dict[index];
    menuobj.forEach(p => {
      // handling size variable
      if(index.match("size$")){
        varlist[p.pk] = p['fields']['size'];
      } else {
        varlist[p.pk] = p['fields'][index];
      }
    });
    dmenutype.innerHTML += select_template({"menutype" : menutype, "vartype" : index, "varlist" : varlist});
  });

  // handling toppingchoie span
  if(menutype === "pizza") {
    dmenutype.innerHTML += span_template({"vartype" : "toppingchoice"});
  }

  // adding quantity inputs
  dmenutype.innerHTML += input_template({"menutype" : menutype});

  // price span
  dmenutype.innerHTML += span_template({"vartype" : menutype});

  // add to cart button
  dmenutype.innerHTML += addbtn_template({"menutype" : menutype})

  // init choices before change
  const btn_menutype = document.querySelector('#btn_' + menutype);
  btn_menutype.disabled = true;

  // creating event list
  const menutypeevents = document.querySelectorAll('.select_order[data-menutype=' + menutype + ']');
  if(menutype === "pizza"){
    eventlist = []
    menutypeevents.forEach(menutypeevent => {
      if(menutypeevent.name != "toppingchoice"){
        eventlist.push(menutypeevent);
      }
    });
  } else if(menutype === "sub"){
    eventlist = []
    menutypeevents.forEach(menutypeevent => {
      if(menutypeevent.name != "subextrachoice"){
        eventlist.push(menutypeevent);
      } else{
        // subextrarate = menuobj_list[menutypeevent.name];
        subextrarate = menuobj_dict[menutypeevent.name];
      }
    });
  } else {
    eventlist = menutypeevents;
  }

  // declaring variables
  const menutype_price = document.querySelector('#span_' + menutype);
  const menutype_quantity = document.querySelector('#q_' + menutype);

  if(menutype === "pizza"){
    const dtoppingchoice = document.querySelector('#dtoppingchoice');
    dtoppingchoice.style.display = "none";
    const stoppinghoice = document.querySelector('#stoppingchoice');
    toppingtype_dict = {
      "Cheese" : 0, "1 topping" : 1, "2 toppings" : 2, "3 toppings" : 3, "Special" : 5}
    const span_toppingchoice = document.querySelector('#span_toppingchoice');
  }

  if(menutype === "sub"){
    ssubextrachoice = document.querySelector('#ssubextrachoice');
    ssubextrachoice.options[0].innerText = "None";
    ssubextrachoice.options[0].disabled = false;
  }

  // onchange events
  topping_max_limit = 0;
  selected_toppings = null;
  selected_extras = null;
  menutypeevents.forEach(menutypeevent => {
    menutypeevent.onchange = () => {
      init_state = true;
      btn_disabled = true;

      if(menutypeevent.name === "toppingtype"){
        selected_toppings = null;
        span_toppingchoice.innerHTML = "";
        dtoppingchoice.style.display = "block";
        topping_max_limit = toppingtype_dict[menutypeevent.options[menutypeevent.selectedIndex].getAttribute('name')]
        if(topping_max_limit != 0){
          btn_disabled = true;
          dtoppingchoice.style.display = "block";
          span_toppingchoice.innerHTML = "Pleae select " + topping_max_limit + " topping(s)";
          if(topping_max_limit === 1){
            stoppingchoice.multiple = false;
          } else {
            stoppingchoice.multiple = true;
          }
        } else {
          btn_disabled = false;
          dtoppingchoice.style.display = "none";
          span_toppingchoice.innerHTML = "";
        }
        stoppingchoice.selectedIndex = 0;
      } else if(menutypeevent.name === "toppingchoice"){
        span_toppingchoice.innerHTML = "";
        selected_toppings = [];
        menutypeevent.querySelectorAll('option').forEach(option => {
          if(option.selected){
            selected_toppings.push(option.value);
          }
        });
      } else if(menutypeevent.name === "subextrachoice"){
        if(menutypeevent.options[0].selected){
          menutypeevent.multiple = false;
          menutypeevent.selectedIndex = 0;
          selected_extras = null;
        } else {
          menutypeevent.multiple = true;
          selected_extras = [];
          menutypeevent.querySelectorAll('option').forEach(option => {
            if(option.selected){
              selected_extras.push(option.value);
            }
          });
        }
      }

      if(selected_toppings){
        if(selected_toppings.length < topping_max_limit){
          span_toppingchoice.innerHTML = "Pleae select " + topping_max_limit + " topping(s)";
          btn_disabled = true;
        } else if(selected_toppings.length === topping_max_limit){
          span_toppingchoice.innerHTML = "";
          btn_disabled = false;
        } else {
          span_toppingchoice.innerHTML = "Topping choices restricted to " + topping_max_limit + " item(s)";
          btn_disabled = true;
        }
      }

      selected_events = {}
      eventlist.forEach(event => {
        if(event.value != ""){
          selected_events[event.name] = event.value;
        }
      });

      if(Object.keys(selected_events).length === eventlist.length){
        selected_price = null;
        selected_pk = null;

        // working on it
        if(menutype === "pizza"){
          menurate.forEach(event => {
            if(String(event.fields.pizzatype) === String(selected_events.pizzatype) && String(event.fields.pizzasize) === String(selected_events.pizzasize) && String(event.fields.toppingtype) === String(selected_events.toppingtype)){
              selected_price = event.fields.price;
              selected_pk = event.pk;
            }
          });
        } else if(menutype === "pasta" || menutype === "salad"){
          menurate.forEach(event => {
            if(String(event.pk) === String(selected_events[menutype + "choice"])) {
              selected_price = event.fields.price;
              selected_pk = event.pk;
            }
          });
        } else if(menutype === "dinnerplatter"){
          menurate.forEach(event => {
            if(String(event.fields.dinnerplatterchoice) === String(selected_events.dinnerplatterchoice) && String(event.fields.dinnerplattersize) === String(selected_events.dinnerplattersize)){
              selected_price = event.fields.price;
              selected_pk = event.pk;
            }
          });
        } else if(menutype === "sub"){
          menurate.forEach(event => {
            if(String(event.fields.subchoice) === String(selected_events.subchoice) && String(event.fields.subsize) === String(selected_events.subsize)){
              selected_price = event.fields.price;
              selected_pk = event.pk;
            }
          });
        }


        if(selected_price && selected_pk){
          menutype_price.setAttribute('data-price', selected_price)
          menutype_price.innerHTML = "Price: $" + selected_price;
          btn_menutype.setAttribute('data-pk',selected_pk);
          btn_disabled = false;
        } else {
          menutype_price.innerHTML = "Item not available"
          btn_menutype.setAttribute('data-pk','');
          btn_disabled = true;
        }
        if(selected_toppings){
          btn_menutype.setAttribute('data-others',selected_toppings);
          if(selected_toppings.length != topping_max_limit){
            btn_disabled = true;
          } else {
            btn_disabled = false;
          }
        } else if (selected_extras) {
          btn_menutype.setAttribute('data-others',selected_extras);
          extra_price = 0;
          subextrarate.forEach(rate => {
            selected_extras.forEach(extra =>{
              if(rate.pk == extra){
                extra_price += Number(rate.fields.price);
              }
            });
          });
          current_price = menutype_price.dataset.price;
          menutype_price.innerHTML = "Price: $" + String(Number(current_price) + extra_price);

        } else {
          btn_menutype.setAttribute('data-others',"");
          if(topping_max_limit > 0){
            btn_disabled = true;
          }
        }
        btn_menutype.setAttribute('data-quantity',menutype_quantity.value)
        btn_menutype.disabled = btn_disabled;
      } else {
        menutype_price.innerHTML = "";
        btn_menutype.setAttribute('data-quantity','')
        btn_menutype.disabled = true;
      }

    }
  });

  // quantity input
  menutype_quantity.oninput = () => {
    if(menutype_quantity.value == ""){
      btn_menutype.disabled = true;
      menutype_price.innerHTML = "";
    } else {
      if(init_state){
        btn_menutype.disabled = false;
      } else {
        btn_menutype.disabled = true;
      }
      current_price = menutype_price.dataset.price
      menutype_price.innerHTML = "Price: $" + (current_price * menutype_quantity.value);
    }
    btn_menutype.setAttribute('data-quantity', menutype_quantity.value)
  }

  btn_menutype.onclick = () => {
    add_cart(btn_menutype);
  }

// before end
  }
</script>

{% endblock %}
