{% extends "orders/layout.html" %}

{% block title %}
MyPizzajoint: Register User
{% endblock %}

{% block body %}
<div class="container">
    <h2>Register</h2>
  {% if message %}
  <div>
    {{ message }}
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="login">
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <input  name="username" type="text" placeholder="User Name" autofocus/>
      <input  name="useremail" type="text" placeholder="User Email"/>
      <input  name="password" type="password" placeholder="Password"/>
      <input  name="password_retype" type="password" placeholder="Retype Password"/>
      <!-- <input class="btn btn-primary" type="submit" value="Register"/> -->
      <div class="form-group" style="text-align:center">
        <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Register</button>
      </div>
    </form>
    <p style="text-align:center"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></p>
  </div>
</div>
{% endblock %}
