{% extends "orders/layout.html" %}

{% block title %}
Pizza & Subs
{% endblock %}

{% block body %}
<div class="container">
  <h1>Order Confirmation</h1>
  <div id="placedorders">
    <ul>
      {% for order in last_orders.order_list %}
      <li data-menutype="{{order.menutype}}" data-pk="{{order.pk}}" data-todo="delete">
        {% if order.menutype == "pizza" %}
          {{order.pizzachoice}}
          <ul>
              {% for toppingchoice in order.toppingchoice.all %}
                <li>{{toppingchoice}}</li>
              {% empty %}
              {% endfor %}
          </ul>
        {% elif order.menutype == "sub" %}
          {{order.subchoice}}
          <ul>
            {% for s in order.subextrachoice.all %}
              <li>{{s}}</li>
            {% endfor %}
          </ul>
        {% elif order.menutype == "pasta" %}
          {{order.pastachoice}}
        {% elif order.menutype == "salad" %}
          {{order.saladchoice}}
        {% elif order.menutype == "dinnerplatter" %}
          {{order.dinnerplatterchoice}}
        {% endif %}
      </li>
        {% empty %}
        <li>No previous orders in cart</li>
      {% endfor %}
    </ul>
  </div>

  <h2 class="makepayment">Total cost: ${{last_orders.total_cost}}</h2>
</div>
<div class="container">
<form action="{% url 'make_payment' %}" method="POST" class="makepayment">
  {% csrf_token %}
  <input name="amount" value="{% widthratio last_orders.total_cost 1 100 %}" type="hidden">
  <script id="payment"
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_vM1JtHcRqfBiUB04mbPkFcJe"
    data-amount="{% widthratio last_orders.total_cost 1 100 %}"
    data-name="Stripe.com"
    data-email="{{user_email}}"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-allow-remember-me="false"
    data-zip-code="false">
  </script>
</form>
</div>
<div class="container">
  <p>Please use one of the test <a href="https://stripe.com/docs/testing#cards">credit card numbers</a> in order to make payment.</p>
  supply any valid expiry date and a dummy >=3digit cvv number.
  <p>Dont use your credit card numbers. We may steal from you.
  *conditions apply</p>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.makepayment').forEach(event => {
        if(Number({{last_orders.total_cost}}) > 0){
          event.style.display = "block";
        } else {
          event.style.display = "none";
        }
    }
    );
  });
</script>


{% endblock %}
