{% extends "orders/layout.html" %}

{% block title %}
MyPizzajoint: Show Orders
{% endblock %}

{% block body %}
<br>
<div class="container">
  <h1 class="makepayment">Order Confirmation</h1>
  <div id="placedorders">
    <ul class="scrolltable">
      {% for order in last_orders.order_list %}
      <li data-menutype="{{order.menutype}}" data-pk="{{order.pk}}" data-todo="delete">
        {% if order.menutype == "pizza" %}
          {{order.pizzachoice}}
          <ul>
              {% for toppingchoice in order.toppingchoice.all %}
                <li>{{toppingchoice}}</li>
              {% empty %}
              {% endfor %}
          </ul>
        {% elif order.menutype == "sub" %}
          {{order.subchoice}}
          <ul>
            {% for s in order.subextrachoice.all %}
              <li>{{s}}</li>
            {% endfor %}
          </ul>
        {% elif order.menutype == "pasta" %}
          {{order.pastachoice}}
        {% elif order.menutype == "salad" %}
          {{order.saladchoice}}
        {% elif order.menutype == "dinnerplatter" %}
          {{order.dinnerplatterchoice}}
        {% endif %}
      </li>
        {% empty %}
        <li>No previous orders in cart</li>
      {% endfor %}
    </ul>
  </div>
  <h3 class="makepayment">Items: {{last_orders.order_list|length}}</h3>
  <h3 class="makepayment">Cost: ${{last_orders.total_cost}}</h3>
</div>
<div class="container">
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="delivery_address">Deliver to:</label>
      <select class="form-control" id="delivery_address">
        {% for d in deliveryaddress %}
        {% if d == deliveryaddress.0 %}
        <option value="{{d.pk}}" selected>{{d}}</option>
        {% else %}
        <option value="{{d.pk}}">{{d}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-sm-6" style="margin-top:30px;display:flex">
      <button type="button" class="btn btn-dark" id="add_new_address">+</button>
      <form method="post" style="margin-left:5px;">
        {% csrf_token %}
        <input type="hidden" name="todo" value="deleteaddress"/>
        <input type="hidden" id="address_pk" name="address_pk" value=""/>
        <button type="submit" class="btn btn-dark" id="delete_address" disabled><i class="fas fa-trash-alt"></i></button>
      </form>
    </div>
    <div class="col-sm-6">
      <form method="post" id="new_address_form">
        {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control" name="new_address" id="new_address" row="3" placeholder="Enter new address"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" name="new_number" id="new_number" placeholder="+911234512345" />
        </div>
        <div>
          <span id="new_number_span"><span>
        </div>
        <input type="hidden" name="todo" value="address" />
        <div class="form-group">
          <button type="submit" class="btn btn-dark" id="submit_address">Add address</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" id="dmake_payment">
<form action="{% url 'make_payment' %}" method="POST" class="makepayment">
  {% csrf_token %}
  <input name="amount" value="{% widthratio last_orders.total_cost 1 100 %}" type="hidden">
  <input name="address_to_delivery" id="address_to_delivery" value="" type="hidden" />
  <script id="payment"
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_vM1JtHcRqfBiUB04mbPkFcJe"
    data-amount="{% widthratio last_orders.total_cost 1 100 %}"
    data-name="Stripe.com"
    data-email="{{user_email}}"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-allow-remember-me="false"
    data-zip-code="false">
  </script>
</form>
<div class="container makepayment">
  <p>Please use one of the test <a href="https://stripe.com/docs/testing#cards">credit card numbers</a> in order to make payment.</p>
  supply any valid expiry date and a dummy >=3digit cvv number.
  <p>Dont use your credit card numbers. We may steal from you.
  *conditions apply</p>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.makepayment').forEach(event => {
        if(Number({{last_orders.total_cost}}) > 0){
          event.style.display = "block";
        } else {
          event.style.display = "none";
        }
    });

    const new_address_form = document.querySelector('#new_address_form');
      const dmake_payment = document.querySelector('#dmake_payment');
      dmake_payment.style.display = "none";
      new_address_form.style.display = "none";
      count = 0;
      // address
      document.querySelector('#add_new_address').onclick = () => {
        if (count % 2 == 0) {
          document.querySelector('#add_new_address').innerHTML = "-";
          new_address_form.style.display = "inline";
          dmake_payment.style.display = "none";
        } else {
          document.querySelector('#add_new_address').innerHTML = "+";
          new_address_form.style.display = "none";
          dmake_payment.style.display = "block";
        }
        count += 1;
      };

      // phone number
      const new_number = document.querySelector('#new_number');
      const new_number_span = document.querySelector('#new_number_span');
      const submit_address = document.querySelector('#submit_address');
      const new_address = document.querySelector('#new_address');



      new_number_span.innerHTML = "Please enter a valid address and phone number";
      submit_address.disabled = true;

      new_address.oninput = () => {
        if (new_address.value.length > 0 && check_number(new_number.value)) {
          new_number_span.innerHTML = "";
          submit_address.disabled = false;
        } else {
          new_number_span.innerHTML = "Please enter a valid address and phone number";
          submit_address.disabled = true;
        }
      }

      new_number.oninput = () => {
        if (new_address.value.length > 0 && check_number(new_number.value)) {
          new_number_span.innerHTML = "";
          submit_address.disabled = false;
        } else {
          new_number_span.innerHTML = "Please enter a valid address and phone number";
          submit_address.disabled = true;
        }
      }

      // address update
      const delivery_address = document.querySelector('#delivery_address');
      const address_to_delivery = document.querySelector('#address_to_delivery');
      const delete_address = document.querySelector('#delete_address')
      const address_pk = document.querySelector('#address_pk')
      address_to_delivery.value = delivery_address.value;
      address_pk.value = delivery_address.value;
      delete_address.disabled = true;
      if(delivery_address.selectedIndex > -1){
        delete_address.disabled = false;
        dmake_payment.style.display = "block";
      }

      delivery_address.onchange = () => {
        address_to_delivery.value = delivery_address.value;
        address_pk.value = delivery_address.value;
        if(delivery_address.selectedIndex > -1){
          delete_address.disabled = false;
          dmake_payment.style.display = "block";
        }
      }

  });
  function check_number(number) {
    var regex = /^[0-9+]+$/;
    if (number.match(regex)) {
      return true;
    } else {
      return false;
    }
  }
</script>


{% endblock %}
